{% extends "base.html" %}

{% block head_content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/url_entry.css') }}">
{% endblock %}

{% block content %}

<div class="container-fluid" id="content">
    <h1>Enter Article's URL</h1>
    <form action="#" method='post'>
        <input type="url" name="url" id="url" class="form-control form-control-lg"
       placeholder="https://www.example.com" required>
        <input type="submit" name="button" id="button" value="Summarize" class="btn-lg btn-dark">
    </form>
</div>
{% endblock %}
